* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: rgba(245, 245, 245, 0.788);
}

/* kolom pilihan game */

.column {
    float: left;
    width: 20vw;
    padding: 20px;
    margin: 10px;
    border-radius: 3%;
}

.column img {
    width: 20vw;
    height: 40%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: white;
    background-color: royalblue;
    font-family: 'Signika Negative', sans-serif;
}

.responsive {
    padding: 0 10px;
    float: left;
    width: 23.49999%;
}

.desc {
    padding: 15px;
    text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* kolom pilihan game */

/* loader */

#loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: center no-repeat rgba(0, 0, 0, 0.404);
}

/*-- css spin --*/

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*-- css loader --*/

.loader {
    border: 10px solid #e2e2e200;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    border-bottom: 10px solid #FFC107;
    width: 10vw;
    height: 10vw;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: spin 1s linear infinite;
    position: absolute;
    animation: spin 1.0s linear infinite;
}

.textLoader {
    position: fixed;
    margin: auto;
    bottom: 0;
    top: 70%;
    left: 0;
    right: 0;
    color: #ffffff;
}

@media screen and (max-width: 1234px) {
    .textLoader {
        top: 60%;
    }
}

@media screen and (max-width: 824px) {
    .textLoader {
        top: 60%;
    }
}

@media screen and (max-width: 732px) {
    .textLoader {
        left: 0;
    }
}

@media screen and (max-width: 500px) {
    .loader {
        left: 0;
        ;
    }

    .textLoader {
        left: 0;
    }
}

@media screen and (max-height: 432px) {
    .textLoader {
        top: 60%;
    }
}

@media screen and (max-height: 350px) {
    .textLoader {
        top: 0;
    }
}

@media screen and (max-height: 312px) {
    .textLoader {
        display: none;
    }
}

/* loader */

/* responsive game */
@media only screen and (max-width: 990px) {
    .column {
        width: 25vw;
        padding: 10px;
        margin: 10px;
    }

    .column img {
        width: 25vw;
        height: 25%;
    }
}

@media only screen and (max-width: 600px) {
    .fixed header {
        height: 60px;
        background-color: rgb(255, 255, 255);
    }

    .navbar {
        padding: 1px;
        top: 0;
        margin-top: -10px;
    }

    body {
        width: 100%;
        height: 100%;
        bottom: 0;
    }

    .banner {
        bottom: 0;
        height: 10vh;
    }

    .close {
        right: 1px;
        left: 1px;
        text-align: center;
        padding: 10px;
        font-size: 20vw;
    }

    .container-popup {
        width: 100%;
    }

    .container img {
        width: 115px;
        padding: 8px;
    }

    .banner {
        height: 150vh;
    }

    .banner ul h2 {
        font-size: 18vw;
    }

    .banner ul h3 {
        font-size: 14vw;
        margin-bottom: 20px;
    }

    .tblstar a {
        font-size: 6vw;
    }

    .row {
        right: 1;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 80vh;
        margin: auto;
        overflow-y: auto;
    }

    .column {
        float: right;
        width: 70vw;
        padding: 10px;
        margin-bottom: 10px;
        align-items: center;
    }

    .column img {
        width: 70vw;
        height: 40%;
    }

    #page {
        height: 250vh;
        width: 90vw;
        top: 0;
    }

    #mazeContainer {
        width: 80vw;
    }

    #mazeCanvas {
        width: 100%;
    }
}

@media only screen and (max-width: 370px) {
    .fixed header {
        height: 55px;
        background-color: rgb(255, 255, 255);
    }

    .container img {
        width: 30vw;
        padding: 6px;
    }

    .navbar {
        padding: 1px;
        top: 0;
        margin-top: -10px;
    }

    .row {
        right: 1;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 80vh;
        margin: auto;
        overflow-y: auto;
    }

    .column {
        float: right;
        width: 70vw;
        padding: 10px;
        margin-bottom: 10px;
        align-items: center;
    }

    .column img {
        width: 70vw;
        height: 40%;
    }
}

@media only screen and (max-width: 336px) {

    .fixed header {
        height: 55px;
        background-color: rgb(255, 255, 255);
    }

    .container img {
        width: 30vw;
        padding: 6px;
    }

    .navbar {
        padding: 1px;
        top: 0;
        margin-top: -10px;
    }
}

/* responsive game */

header {
    height: 80px;
    box-shadow: 0 3px 15px black;
    background-color: white;
}

.container {
    width: 85%;
    margin: auto;
}

header img {
    width: 150px;
    padding: 10px;
}

header img:hover {
    transform: scale(1.1);
}

.navbar {
    float: right;
}

nav {
    text-align: right;
    margin: auto;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 30px 15px;
    color: royalblue;
    font-family: 'Signika Negative', sans-serif;
}

nav ul li:hover {
    color: darkorange;
    transform: scale(1.1);
}

.desc:hover {
    color: darkorange;
    transform: scale(0.1);
    background-color: white;
    font-weight: bolder;
}

/* fixed */

.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.3s ease-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 999;
}

.scroll {
    top: -90px;
}

.no-scroll {
    top: 0px;
    z-index: 999;
}

/* fixed */

/* page2 */

.banner {
    height: 94vh;
    background-image: url('../img/ase.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: default;
}

.banner ul {
    margin: 0 auto;
    position: relative;
}

.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 94, 255, 0.5);
    z-index: -999;
}

.banner h2 {
    font-size: 18ex;
    font-family: 'Allerta Stencil';
    text-align: center;
    color: lavender;
    z-index: 1;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.592);
    margin-bottom: 0;
}

.banner h3 {
    font-size: 17ex;
    text-align: center;
    font-family: 'Allerta Stencil';
    color: rgb(255, 114, 26);
    z-index: 1;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.592);
}

.tblstar {
    font-size: 4ex;
    text-align: center;
    color: rgb(26, 255, 76);
    z-index: 1;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.592);
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    box-shadow: 0 1px 5px 5px rgba(77, 77, 77, 0.616);
    padding: 2px;
    width: 35%;
    margin: auto;
}

.tblstar:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

/* Game */

#view {
    width: 100vw;
    height: 50%;
    margin: 0;
    padding: 0;
    float: left;
}

#mazeContainer {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .01s;
    transition-duration: .01s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    top: 100px;
    right: 10px;
    opacity: 0;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.705);
    margin: auto;
    z-index: 9999;
    padding: 10px;
    border-radius: 10px;
}

#mazeContainer h4 {
    font-size: 1;
}

#mazeContainer h5 {
    font-size: 1;
}

#mazeContainer #mazeCanvas {
    margin: auto;
    display: block;
    border: solid 1px black;
}

input, #okBtn, #open {
    opacity: 1;
}

input,
select {
    -webkit-transition-property: background-color opacity;
    transition-property: background-color opacity;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
}

input:hover,
select:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

input:active,
select:active {
    background-color: black;
}

input:focus,
select:focus {
    outline: none;
}

.custom-select {
    display: inline-block;
}

.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: 125px center;
}

#Message-Container {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99999;
}

#Message-Container #message {
    background-color: rgb(255, 114, 26);
    border-radius: 10%;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.705);
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: auto;
}

/* captcha */
#Message-Container2 {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.482);
    z-index: 99999;
}

#Message-Container2 #message {
    background-color: rgb(253, 253, 253);
    border-radius: 0%;
    width: 120px;
    height: 50px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    margin: auto;
}

#moves2 {
    color: rgb(201, 201, 201);
}

/* captcha */

#page {
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    height: 80vh;
    width: 100vw;
    margin: auto;
    z-index: 9999999;
}

#page #menu {
    margin: auto;
    padding: 10px;
    height: 60px;
    box-sizing: border-box;
}

#page #menu h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 3.2rem;
}

#page #view {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70vh;
    z-index: 9999;
}

.border {
    border: 1px black solid;
    border-radius: 5px;
}

#gradient {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    input, select {
        width: 120px;
    }
}

/* Game */

/* Game1 */

.all {
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    display: inline-block;
    block-size: auto;
    align-items: center;
    justify-content: center;
}

.gbr {
    float: left;
    position: none;
}

.gbr img {
    width: 407px;
    height: 407px;
    border: 2px solid black;
    opacity: .5;
}

.tgh {
    color: #003333;
    text-align: center;
    z-index: 999;
    margin: 0;
    padding: 0;
}

table {
    float: right;
    right: 0;
    left: 0;
}

.box {
    width: 200px;
    height: 200px;
    padding: 1px;
    display: block;
}

.box img {
    position: absolute;
    width: 400px;
    height: 400px;
}

.k11 {
    clip: rect(0px, 200px, 200px, 0px);
}

.k12 {
    clip: rect(0px, 400px, 200px, 200px);
    margin-left: -200px;
}

.k21 {
    clip: rect(200px, 200px, 400px, 0px);
    margin-top: -200px;
}

.k22 {
    clip: rect(200px, 400px, 400px, 200px);
    margin-top: -200px;
    margin-left: -200px;
}

/* Game1 */

/* Game2 */

.pzl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    background-color: #ff14d8;
    border-radius: 5px;
    z-index: 999;
}

.grid {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    border: 1px solid #09ff00;
}

.grid button {
    background-color: #cfcfcf;
    color: #003333;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #ff009d;
    outline: none;
    cursor: pointer;
}

.pzlfoot {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.pzlfoot button {
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 80px;
    background-color: #D4EE9F;
    color: #003333;
    outline: none;
    cursor: pointer;
}

.pzlfoot button:hover {
    color: #D4EE9F;
    background-color: #003333;
}

.pzlfoot span {
    flex: 1;
    text-align: center;
    font-size: 20px;
    color: #D4EE9F;
    font-weight: bold;
    margin: auto 0;
}

.pesn {
    color: #AA3939;
    height: 80px;
}

/* Game2 */

/* slider */

#slider {
    width: 80%;
    height: 500px;
    overflow: hidden;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.592);
}

.slide {
    width: 500px;
    height: 500px;
    float: left;
    position: relative;
    box-shadow: 0 -1px 10px 5px rgba(0, 0, 0, 0.623);
}

#slide-holder {
    width: 400%;
    position: relative;
    left: 0;
    -webkit-animation: scroller 10s infinite;
    animation: scroller 10s infinite;
}

@-webkit-keyframes scroller {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    33% {
        -webkit-transform: translateX(-400px);
        transform: translateX(-400px);
    }

    66% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes scroller {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    33% {
        -webkit-transform: translateX(-400px);
        transform: translateX(-400px);
    }

    66% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

#slider {
    margin: 0 auto;
}

.slide:nth-child(1) {
    background: rgb(30, 255, 0);
}

.slide:nth-child(2) {
    background: wheat;
}

.slide:nth-child(3) {
    background: #eee;
}

#slider:hover {
    zoom: 1;
    background-color: rgba(4, 0, 255, 0.568);
}

.klik {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* slider */

#home {
    padding-top: 50px;
}

/* gift */

.bgcontent {
    width: 90%;
    height: fit-content;
    margin-top: 2%;
    padding: 20px 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 5px 5px 2px rgba(88, 88, 88, 0.514);
    justify-content: center;
    align-items: center;
    position: relative;
    display: table-column;
    overflow-y: scroll;
}

.bgcontent2 {
    width: 90%;
    height: 86vh;
    margin-top: 2%;
    padding: 20px 5px;
    background-color: rgb(255, 255, 255);
    border-radius: px;
    box-shadow: 2px 5px 5px 2px rgba(88, 88, 88, 0.514);
    justify-content: center;
    align-items: center;
    position: relative;
    display: table-column;
    overflow-y: scroll;
}

.box {
    padding: 10px;
    margin: auto;
    top: ;
    left: ;
    right: ;
    bottom: ;
    width: 90%;
    height: 100%;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: black;
}

.iscen {
    margin: auto;
    padding: 0 12px;
    text-align: ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    line-height: 25px;
}

.iscen img {
    width: 84vw;
}

/* gift */